{% extends 'base.html' %}

{% block title %}Select Teacher{% endblock %}

{% block content %}
<h1 class="mb-4">Select a Teacher</h1>
<div class="row">
    {% for teacher in teachers %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ teacher.user.get_full_name }}</h5>
                <form action="{% url 'learning_session' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
                    <button type="submit" class="btn btn-primary">Select</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}